<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sudarsan.illamteagarden">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.sensor.proximity" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Proximitysensor"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ConfirmFinalOrderActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".SearchProductsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".Admin.AdminAddNewProductActivity" />
        <activity android:name=".Admin.AdminCategoryActivity" />
        <activity android:name=".Admin.AdminMaintainProductsActivity" />
        <activity android:name=".Admin.AdminNewOrdersActivity" />
        <activity android:name=".Admin.AdminUserProductsActivity" />
        <activity android:name=".CartActivity" />
    </application>

</manifest>